html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
html,
body {
	height: 100%;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}
body{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
    overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
@media(max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }
}
.page-content{
    background-color: $grey;
}
.title{
    text-align: center;
    color: $bg;
    @include f700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 30px;
}
.rate-star{
    display: inline-block;
    margin-right: 13px;
}
.breadcrumbs{
    &__inner{
        padding: 45px 0 40px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
            & + li{
                padding-left: 24px;
                &::before{
                    content: '-';
                    position: absolute;
                    color: $green;
                    left: 8px;
                }
            }
            a{
                color: #b0bec5;
            }
            &:last-child{
                a, span{
                    color: $bg;
                }
            }
        }
    }
}
.andle-right{
    position: relative;
    padding-left: 15px;
    &::before{
        content: '\f105';
        position: absolute;
        font-family: 'icomoon';
        left: 0;
        color: $green;
        font-size: 14px;
    }
}