@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        @include f500;
        font-size: 14px;
    }
}
// end header
// start search
.search{
    min-height: 533px;
    background: no-repeat center /cover;
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 45px;
        @include f500;
        font-size: 20px;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            height: 56px;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            font-size: 14px;
            @include f500;
            padding: 0 60px 0 25px;
            &::placeholder{
                color: #90a4ae;
                @include f500
            }
        }
        button{
            position: absolute;
            top: 17px;
            right: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}
// end search
// start products
.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        outline: none;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
        & + button{
            margin-left: 5px;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item{
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &-img{
        display: block;
        min-height: 250px;
        background: no-repeat center /cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        display: block;
        color: $bg;
        font-size: 18px;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        &-span{
            font-size: 14px;
            @include f500;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 14px;
            display: inline-block;
            background: no-repeat center /cover;
        }
    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
   text-align: center; 
   button{
    margin: 45px 5px 0;
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    outline: none;
    &.mixitup-control-active{
        background-color: $red;
        color: #fff;
    }
   }
}
// end products
// start slider-products
.product-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin: 0 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232,232,232);
                border: none;
                font-size: 0;
                outline: none;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
    }
}
//end slider-products
//start advantages

.advantages{
    background-color: $bg;
    padding: 110px 0;
}
.advantages__title{
    color: #fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover{
        .advantages__item-images{
            background-color: $green;
            g{
                fill: #000;
            }
        }
        .advantages__item-title{
            color: $green;
        }
    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: .3s;
    }
    &-title{
        margin-bottom: 25px;
        color: #fff;
        font-size: 24px;
        @include f500;
        transition: .3s;
    }
    &-text{
        font-size: 15px;
    }
}
.icosvg-1{
    svg{
        width: 50px;
    }
}
.icosvg-2{
    svg{
        width: 70px;
    }
}
.icosvg-3{
    svg{
        width: 86px;
    }
}
//end advantages
//start author
.author{
    min-height: 750px;
    background: no-repeat center /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 262px;
        span{
            @include f700;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}
//end author
//start tutorial
.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background: no-repeat center /cover;
    }
    &-title{
        background-color: #f8f8f8;
        font-size: 24px;
        text-align: center;
        @include f700;
        padding: 30px 10px;
        color: $bg;
    }
}
//end tutorial